#bg-img {
    text-align: center;
    height: 130px;
    width: 100%;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h5 {
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.input-field {
    top: 30px;
}

#login-form {
    width: 40%;
    text-align: center;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-80%); /*向上平移 自身的50%*/
    -webkit-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    transform: translateY(-80%);
    margin: auto;
}

#msg {
    top: 80px;
}
#submit{
    top: 50px;
}



