<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <script src="/layui/layui.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/editor/css/wangEditor.min.css"/>
    <script src="/editor/js/wangEditor.min.js"></script>
    <style>
        .layui-container {
            top: 20px;
        }

        #submit {
            text-align: center;
        }
    </style>
</head>
<div class="layui-container">
    <div class="layui-row">
        <form class="layui-form layui-form-pane" action="">
            <div hidden="hidden">
                <input name="id" th:value="${ApiResponse.id}"/>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">接口名称</label>
                <div class="layui-input-block">
                    <select name="api_id" lay-verify="required" lay-search="lay-search">
                        <option value="">请选择</option>
                        <label th:each="item:${ApiList}">
                            <option th:value="${item.id}" th:text="${item.name}"
                                    th:selected="${#strings.contains(item.id,ApiResponse.api_id)}"></option>
                        </label>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">上级参数</label>
                <div class="layui-input-block">
                    <select name="parent" lay-search="lay-search">
                        <option value="">请选择</option>
                        <label th:each="item:${ApiResponseList}">
                            <option th:value="${item.id}" th:text="${item.parameter}"
                                    th:selected="${#strings.contains(item.id,ApiResponse.parent)}"></option>
                        </label>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">请求参数</label>
                <div class="layui-input-block">
                    <input type="text" name="parameter" required="required" lay-verify="required" placeholder="请输入请求参数"
                           autocomplete="off" class="layui-input" th:value="${ApiResponse.parameter}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数据类型</label>
                <div class="layui-input-block">
                    <select name="dataType" lay-verify="required">
                        <option value=""></option>
                        <option value="String" th:selected="${ApiResponse.dataType=='String'}">String</option>
                        <option value="Number" th:selected="${ApiResponse.dataType=='Number'}">Number</option>
                        <option value="JSON" th:selected="${ApiResponse.dataType=='JSON'}">JSON</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">参数位置</label>
                <div class="layui-input-block">
                    <select name="partType" lay-verify="required">
                        <option value=""></option>
                        <option value="Query" th:selected="${ApiResponse.partType=='Query'}">Query</option>
                        <option value="FormData" th:selected="${ApiResponse.partType=='FormData'}">FormData</option>
                        <option value="Body" th:selected="${ApiResponse.partType=='Body'}">Body</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否必需</label>
                <div class="layui-input-block">
                    <input type="radio" name="required" value="0" title="否" th:checked="${ApiResponse.required==0}"/>
                    <input type="radio" name="required" value="1" title="是" th:checked="${ApiResponse.required==1}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数据最大长度</label>
                <div class="layui-input-block">
                    <input type="text" name="length" placeholder="请输入数据最大长度"
                           autocomplete="off" class="layui-input" th:value="${ApiResponse.length}"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">参数描述</label>
                <div class="layui-input-block">
                    <textarea name="description" placeholder="请输入内容" class="layui-textarea"
                              th:text="${ApiResponse.description}"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">参数描述</label>
                <div class="layui-input-block">
                    <textarea style="height: 400px;" id="content" name="example" class="layui-textarea"
                              th:text="${ApiResponse.example}"></textarea>
                </div>
            </div>
            <div class="layui-form-item" id="submit">
                <div class="layui-input-block" style="margin-left: 0">
                    <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    //Editor
    var editor = new wangEditor("content");
    editor.config.uploadImgUrl = "http://image.yinxindata.com/Upload";
    editor.config.uploadImgFileName = "file";
    editor.create();

    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            //向服务端发送修改指令
            $.ajax({
                url: "/ApiResponse/Update",
                data: JSON.stringify(data.field),
                type: 'POST',
                contentType: "application/json",
                dataType: 'JSON',
                async: false,
                success: function (result) {
                    if (result.respCode == '2000') {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                        parent.layer.msg("修改成功");
                        var table = parent.layui.table;
                        table.reload('apiResponse');
                    } else {
                        parent.layer.msg("修改失败")
                    }
                },
                error: function (msg) {
                    layer.msg("出错！" + msg);
                }
            });
            return false;
        });
    });
</script>
</html>